.clearfix:before,
.clearfix:after {
  display: table;

  content: '';
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
html,
body {
  height: 100%;
}
.page {
  font-family: 'Lato';

  height: 100%;
}
.header {
  position: relative;

  min-height: 100%;
  padding: 25px 0 0;

  background: url(../../img/bg-header.jpg);
  background-size: cover;
}
.menu {
  margin: 0 -30px 0;
}
.logo {
  float: left;
}
.navbar {
}
.navbar-default {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
.navbar-header {
}
.navbar-toggle {
}
.sr-only {
}
.icon-bar {
}
.collapse {
}
.navbar-collapse {
  margin: 25px 0 0;
  padding: 0;
}
.navbar-ex1-collapse {
}
.nav {
}
.navbar-nav {
  margin: 0 0 0 6px;
}
.active {
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #d0b964;
  background: none;
}

.navbar-default .navbar-nav > li > a {
  font-weight: 400;

  text-transform: uppercase;

  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #d0b964;
}
.modal-button {
  margin: 8px 0 0 11px;
  padding: 4px 11px;

  text-transform: uppercase;

  color: #fff;
  border: 2px solid #a39859;
  border-radius: 0;
  background: none;
}

.modal-button:focus {
  color: #fff;
}
.navbar-default .navbar-toggle {
  border-width: 2px;
  border-color: #a09158;
  border-radius: 0;
}
.modal-button:hover {
  color: #fff;
  border-color: #fff;
}
.slider {
}
.slider__item {
  display: block;

  width: 100%;
  height: 470px;
}
.slider__content {
  overflow: hidden;

  margin: 92px 0 0;

  text-align: center;
}
.slider__slogan {
  font-size: 31px;
  font-weight: 700;

  letter-spacing: 1.2px;
  text-transform: uppercase;

  color: #fff;
}
.slider__p {
  font-size: 18px;
  font-weight: 300;

  margin: 24px 0 0;

  letter-spacing: 1px;

  color: #fff;
}
.owl-theme .owl-controls {
  margin: 0 auto;

  text-align: right;
}
.owl-theme .owl-controls .owl-page span {
  width: 10px;
  height: 10px;

  opacity: 1;
  border: 2px solid #7f8e9a;
  border-radius: 0;
  background: none;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  border: 2px solid #b7a151;
  background: #b7a151;
}
.adress {
  position: absolute;
  z-index: 1;
  bottom: 23px;

  color: #fff;
}
.adress__item .fa {
  font-size: 16px;

  float: left;

  color: #ccb77c;
}
.adress__item span {
  font-size: 10px;
  font-weight: 400;

  margin-left: 7px;

  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.adress__item .adress__item-phone {
  font-size: 12px;

  display: block;

  margin: 0 0 2px 16px;
}
.angle-down {
  font-size: 30px;

  position: absolute;
  z-index: 1;
  bottom: 11px;

  width: 1170px;

  text-align: center;
}
.angle-down .fa {
  color: #fff;
}
.angle-down_color_brown {
  width: 1110px;
}
.angle-down_color_brown .fa {
  color: #ccb77c;
}
.adress__item {
  margin-bottom: 3px;
}
.team {
  position: relative;

  overflow: hidden;

  min-height: 100%;
  padding-top: 71px;

  background-image: url(../../img/pattern-team.jpg);
}
.vaza {
  background-image: url(../../img/vaza.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.team__chief {
  float: left;

  width: 25%;
  margin: 31px -24px 0 0;

  text-align: center;
}

.team__chief img {
}
.team__chief-name {
  font-size: 16px;

  margin: 20px 0 0;

  text-align: center;
  text-transform: uppercase;
}
.team__chief-post {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;

  text-align: center;
}
.team__right {
  float: left;

  width: 75%;
}
.team__description {
  font-size: 17px;
  font-style: italic;
  line-height: 26px;

  margin: 0 39px 0 0;
  padding: 28px 20px 33px 43px;

  letter-spacing: .53px;

  color: #fff;
  background-color: #b7a151;
  background-image: url(../../img/pattern-description.png);
  background-repeat: repeat-x;
  background-position: bottom;
}
.team__all {
  margin: 13px 0 0;
}

.team__all img {
  float: left;
}
.team__all-description {
  float: left;
}
.team__all-list {
  margin: 76px 0 0;
  padding: 0 0 0 19px;
}
.team__all-title {
  font-size: 16px;
  font-weight: 100;
  font-style: italic;

  display: block;

  margin: 0 0 21px;
}
.team__all-item {
  margin: 0 0 12px;
}
.team__all-name {
  font-size: 13px;

  display: block;

  margin: 0 0 -4px;

  letter-spacing: .3px;
  text-transform: uppercase;
}
.team__all-post {
  font-size: 12px;

  display: block;
}
#granate {
  position: absolute;
  bottom: -116px;
  left: 30px;

  width: 292px;
  height: 256px;

  background: url(../../img/granate.png);
}
.granate-part {
  position: absolute;
  top: 0;
  right: 0;

  width: 146px;
  height: 113px;

  background: url(../../img/granate-part.png);
}
.more {
  overflow: hidden;

  width: 260px;
  margin: 18px auto 0;
}
.more__icon {
  float: left;

  width: 35px;
  height: 35px;

  background: url(../../img/arrow-right.png) no-repeat;
}
.more__title {
  float: left;

  margin: 8px 0 0 14px;

  text-transform: uppercase;

  color: #000;
}
.more__title:hover {
  color: #000;
}
.advantages {
  padding: 19px 0 0;

  background: url(../../img/pattern-advantages.png) top repeat-x;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
.advantages__content {
  position: relative;

  float: right;

  width: 88%;
}
.advantages__map {
  position: relative;

  float: left;

  width: 60%;

  background-color: #b2e0f6;
}
.advantages__img {
  display: block;
  float: right;

  width: 100%;
}
.advantages__item {
  cursor: pointer;
}
.advantages__item span {
  font-size: 16px;
  font-style: italic;
}
.advantages__item i {
  display: block;

  width: 22px;
  height: 28px;
  margin: 0 auto;

  background: url(../../img/marker-map.png);
}
.advantages__item-1 {
  position: absolute;
  top: 6%;
  left: 20%;
}
.advantages__item-1 span {
}
.advantages__item-2 {
  position: absolute;
  top: 4%;
  left: 36%;
}
.advantages__item-2 span {
}
.advantages__item-3 {
  position: absolute;
  top: 12%;
  left: 25%;
}
.advantages__item-3 span {
}
.advantages__item-4 {
  position: absolute;
  top: 7%;
  left: 44%;
}
.advantages__item-4 span {
}
.advantages__item-5 {
  position: absolute;
  top: 43%;
  left: 19%;
}
.advantages__item-5 span {
}
.advantages__item-6 {
  position: absolute;
  top: 11%;
  left: 57%;
}
.advantages__item-6 span {
}
.advantages__item-7 {
  position: absolute;
  top: 92%;
  left: 51%;
}
.advantages__item-7 span {
}
.advantages__item-8 {
  position: absolute;
  top: 44%;
  left: 76%;
}
.advantages__item-8 span {
}
.advantages__item-9 {
  position: absolute;
  top: 80%;
  left: 66%;
}
.advantages__item-9 span {
}
.advantages__item-10 {
  position: absolute;
  top: 81%;
  left: 73%;
}
.advantages__item-10 span {
}
.advantages__item-11 {
  position: absolute;
  top: 15%;
  left: 53%;
}
.advantages__item-11 span {
}
.advantages__desription {
  line-height: 29px;

  float: left;

  width: 40%;
  padding: 83px 0 0 33px;
  position: relative;
  min-height: 100%;
}
.advantages__desription p {
  font-size: 18px;
  font-weight: 300;

  width: 320px;
  margin: 0 0 33px;
}
.olievs {
  background: url(../../img/olievs.png);
  width: 459px;
  height: 270px;
  position: absolute;
  bottom: -50px;
  left: 57%;
}
.carte {
}
.carte__title {
}
.line {
}

.line:after {
  display: block;

  width: 43px;
  height: 1px;
  margin: 58px auto 0;

  content: '';

  background-color: #fff;
}
.carte__desription {
}
.carte__item {
}
.carte__item-1 {
}
.carte__item-title {
}
.carte__item-info {
}
.carte__item-button {
}
.carte__item-link {
}
.carte__item-2 {
}
.carte__item-3 {
}
.carte__item-4 {
}
.placement {
}
.placement__title {
}
.placement__slider {
}
.reviews {
}
.reviews__title {
}
.reviews__button {
}
.news {
}
.news__item {
}
.news__item-title {
}
.news__item-date {
}
.angle {
}
.angle__title {
}
.angle__title_small {
}
.contacts {
}
.contacts__item {
}
.contacts__item-icon {
}
.contacts__item-icon-1 {
}
.contacts__item-title {
}
.contacts__item-icon-2 {
}
.contacts__item-icon-3 {
}
.contacts__item-phone {
}
.contacts__item-email {
}
.social-icons {
  width: 158px;
  margin: 23px auto 0;

  color: #fff;
}
.social-icons__item {
  font-size: 18px;
  font-weight: 900;

  float: left;

  margin: 0 13px;
}
.social-icons__item a {
  color: #fff;
}
.social-icons__item a:hover {
  color: #ccc;
}
.social-icons__item-1 {
}
.social-icons__item-2 {
}
.social-icons__item-3 {
}
.social-icons__item-4 {
}
.yandex-map {
}
.footer {
}
.footer__copyright {
}
.footer__social {
}
.footer__rosait {
}
.logo-rosait {
}
.footer__advertising {
}
